<div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p">
        <mat-card class="p-0 chat">
            <div>
                <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <button mat-icon-button>
                            <mat-icon>question_answer</mat-icon>
                        </button>
                        <span *ngIf="currentChat" class="author-name">comments for order id: 12345</span>
                    </div>
                    <button mat-icon-button [matMenuTriggerFor]="personMenu" #personMenuTrigger="matMenuTrigger">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </mat-toolbar>
                <mat-menu #personMenu="matMenu" xPosition="before">
                    <span (mouseleave)="personMenuTrigger.closeMenu()">
                        <button mat-menu-item>
                            <mat-icon>mail_outline</mat-icon>
                            <span>Send by Email</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>open_in_browser</mat-icon>
                            <span>Order Details</span>
                        </button>
                        <button mat-menu-item (click)="showOrders()">
                            <mat-icon>inbox</mat-icon>
                            <span>Back to Orders</span>
                        </button>
                    </span>
                </mat-menu>
                <div class="chat-content" perfectScrollbar>
                    <mat-list *ngIf="talks" class="p-0">
                        <mat-list-item *ngFor="let talk of talks" class="talk-item">
                            <img matListAvatar [src]="talk.image">
                            <p *ngIf="talk.hasAttachment" matLine class="message">
                                <span [ngClass]="(talk.my) ? 'bg-primary' : 'bg-accent'">
                                    <a style="color:white;" href="#">
                                    <figure>
                                        <img width="75" src="assets/img/vendor/Word-icon.png">
                                        <figcaption>{{talk.attachmentName}}</figcaption>
                                    </figure>
                                    </a>
                                </span>
                            </p>
                            <p matLine class="message">
                                <span [ngClass]="(talk.my) ? 'bg-primary' : 'bg-accent'">
                                    {{talk.text}}
                                </span>
                            </p>
                            <p matLine class="message-date">
                                <small>{{talk.date | date:"dd MMMM, yyyy 'at' HH:mm"}}</small>
                            </p>
                        </mat-list-item>
                    </mat-list>
                </div>
                <mat-divider></mat-divider>
                <mat-card class="chat-actions">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Enter your text..." (keyup)="sendMessage($event)" [(ngModel)]="newMessage">
                        </mat-form-field>
                        <div fxLayout="row" fxLayoutAlign="scenter center">
                            <button mat-icon-button type="button">
                                <mat-icon>attach_file</mat-icon>
                            </button>
                            <button mat-mini-fab color="primary" type="button" (click)="sendMessage($event)">
                                <mat-icon>send</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-card>
            </div>
        </mat-card>
    </div>
</div>