<div fxLayout="column" fxLayout.gt-sm="row wrap">

    <div class="flex-p" fxFlex="40">
        <mat-card>
            <mat-card-header fxLayoutAlign="center">
                <mat-card-subtitle><h1>Upload Order</h1></mat-card-subtitle>
            </mat-card-header>

            <mat-card-content fxLayout="column" fxLayoutAlign="center">
                <mat-checkbox>Is this order Hot?</mat-checkbox>

                <mat-form-field>
                    <input matInput placeholder="Axis REFerence">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="PO / Customer Ref">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="SO / Vendor Ref">
                </mat-form-field>

                <mat-card-content fxLayoutAlign="left">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker1" placeholder="Requested Date">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </mat-card-content>

                <mat-card-content fxLayoutAlign="left">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker2" placeholder="Shipping Date">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </mat-card-content>

                <mat-card-content fxLayoutAlign="left">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker3" placeholder="ETA">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </mat-card-content>

                <mat-card-content fxLayoutAlign="left">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker4" placeholder="Delivery">
                        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                        <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
                </mat-card-content>

                <mat-form-field>
                    <input matInput placeholder="Shipper">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Consignee">
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput placeholder="Text area">Comments Log</textarea>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Carrier">
                </mat-form-field>

                <form>
                    <div class="py-1">
                        <label>Service: &nbsp;&nbsp;&nbsp;</label>
                        <mat-radio-group>
                            <mat-radio-button value="LTL">LTL</mat-radio-button>
                            <mat-radio-button value="CustomerBrokerage">Customer Brokerage</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </form>
                <div fxFlex="1000" class="flex-p" style="width: 500px">
                    <mat-form-field>
                        <mat-select placeholder="Order Status">
                            <mat-option value="option">Booked</mat-option>
                            <mat-option value="option">Shipped</mat-option>
                        </mat-select>
                        <mat-hint align="end">Please Select ORDER STATUS</mat-hint>
                    </mat-form-field>
                </div>

                <mat-form-field>
                    <input matInput placeholder="H.U.">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="WT">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Quote #">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Pickup #">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="PRO #">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Duration">
                </mat-form-field>

                <div fxFlex="50" class="flex-p">
                    <mat-card>
                        <mat-card-content>
                            <button mat-raised-button color="primary">Submit</button>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>