<div fxLayout="column" fxLayout.gt-sm="row wrap">
    <div fxFlex="70" class="flex-p">

        <mat-card [style.background]="'#EEEEFF'">
            <mat-card-header fxLayoutAlign="center">
                <mat-card-subtitle><h1>Order EDIT</h1></mat-card-subtitle>
            </mat-card-header>

            <mat-card-content fxLayout="column" fxLayoutAlign="center">
                <!-- <mat-checkbox>Is this order Hot?</mat-checkbox>

                    <mat-form-field>
                        <input matInput placeholder="AXIS Ref" value="AX001">
                        <input matInput placeholder="" value="">
                        <mat-hint align="end">Axis REF</mat-hint>

                        <textarea matInput placeholder="Axis REF">AX001</textarea>
                        <textarea matInput placeholder="PO / Customer REF">PO001</textarea>
                        <textarea matInput placeholder="PO / Customer REF">PO001</textarea>
                        <textarea matInput placeholder="SO / Vendor Ref">SO0010</textarea>
                        <textarea matInput placeholder="H.U.">5</textarea>


                    </mat-form-field>
                    -->

                <section class="py-1">
                    <mat-form-field>
                        <input matInput placeholder="AXIS Ref" value="AX001">


                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="PO / Customer REF" value="PO001">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="SO / Vendor REF" value="SO001">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker1" placeholder="Requested Date" value="04/27/2018">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </section>



            </mat-card-content>
        </mat-card>
    </div>
</div>
<div fxLayout="column" fxLayout.gt-sm="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="70" class="flex-p" align="center">
        <mat-card>
            <mat-card-header>
                <mat-card-title><h2>Shipping Details</h2></mat-card-title>
                <!-- <mat-card-subtitle>Update shipping status</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>

                <mat-grid-list cols="2" rowHeight="450">
                    <mat-grid-tile>
                        <img mat-card-image src="assets/img/app/boxdelivery.jpg" alt="Delivery" sizes="100">
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card>
                            <mat-card-content fxLayout="column" fxLayoutAlign="center">
                                <section class="py-1">

                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker2" placeholder="Shipping Date" value="04/30/18">
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker3" placeholder="ETA">
                                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                        <mat-datepicker #picker3></mat-datepicker>
                                    </mat-form-field>




                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker4" placeholder="Delivery">
                                        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                        <mat-datepicker #picker4></mat-datepicker>
                                    </mat-form-field>

                                </section>

                                <section class="py-1">

                                    <mat-form-field>
                                        <input matInput placeholder="H.U." value="5">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput placeholder="WT" value="LTL">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput placeholder="Quote #" value="">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput placeholder="Pickup #" value="">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput placeholder="PRO #" value="">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput placeholder="Duration" value="2d">
                                    </mat-form-field>
                                </section>

                                <mat-form-field>
                                    <input matInput placeholder="Shipper" value="">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="Consignee" value="">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="Carrier" value="">
                                </mat-form-field>
                                <form>
                                    <div class="py-1">
                                        <label>Service: &nbsp;&nbsp;&nbsp;</label>
                                        <mat-radio-group>
                                            <mat-radio-button value="LTL">LTL</mat-radio-button>
                                            <mat-radio-button value="CustomerBrokerage">Customer Brokerage</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </form>

                            </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
            <mat-card-content>
                <div fxFlex="50" fxFlex.gt-sm="100" class="flex-p" align="center">




                    <mat-card>

                        <mat-form-field>
                            <mat-select placeholder="Order Status" value="Booked">
                                <mat-option value="option">Booked</mat-option>
                                <mat-option value="option">Shipped</mat-option>
                            </mat-select>
                            <mat-hint align="end">Please Select ORDER STATUS</mat-hint>
                        </mat-form-field>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <mat-form-field>
                            <textarea matInput placeholder="Comments Log">Order Editing Test</textarea>
                        </mat-form-field>

                        <mat-card-content>
                            <button mat-raised-button color="primary">Submit</button>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>